<section class="w-full flex justify-center py-10 px-3">
  <div class="w-full max-w-[102rem] rounded-3xl flex flex-col md:flex-row items-center justify-between gap-10"
    style="background: linear-gradient(135deg, #e7f3fa 0%, #f9f2d7 100%);">

    <!-- LEFT IMAGE SECTION -->
    <div class="w-full md:w-[40%] relative overflow-hidden flex items-center">

      <!-- CIRCLE BACKGROUND -->
      <img src="assets/common/cirucle.svg" alt="" class="
      absolute
      left-[-25%]
      bottom-[-30%]
      w-[90%]
      max-w-none
      opacity-90
    " />

      <!-- CAR IMAGE (LEFT STUCK) -->
      <img src="assets/testimonials/carRE.png" alt="Mechanic Service" class="
      relative
      w-[20%]
      sm:w-[50%]
      md:w-[50%]
      object-contain
    " />

    </div>



    <!-- RIGHT CONTENT -->
    <div class="w-full md:w-[60%] sm:p-10 flex flex-col justify-center pe-9">

      <!-- Heading -->
      <h2 class="text-3xl font-semibold text-gray-900">
        Carservix Car Care, Simplified
      </h2>

      <!-- Paragraph -->
      <p class="text-gray-600 mt-4 leading-relaxed max-w-md">
        Premium car servicing designed for car owners—transparent pricing, expert technicians,
        and convenient service experience.
      </p>

      <!-- BUTTON -->
      <button class="mt-6 px-2 py-3 w-28 rounded-full text-white font-medium shadow transition"
        style="background: linear-gradient(90deg, #ffb300, #f37f2e);">
        Notify Me
      </button>

      <!-- LOGO BOTTOM RIGHT -->
      <div class="mt-20 flex md:justify-end">
        <img src="assets/testimonials/Car2.svg" class="w-45 object-contain" alt="Carservix Logo" />
      </div>

    </div>

  </div>
</section>