<div class="border rounded-2xl overflow-hidden bg-white shadow-sm hover:shadow-lg transition">

  <!-- IMAGE SECTION -->
  <div class="relative w-full h-48 sm:h-52 bg-gray-100 overflow-hidden">

    <!-- BACKGROUND IMAGE (JPG) -->
    <img src="assets/common/carSet/backcar.jpg" class="absolute inset-0 w-full h-full object-cover" />

    <!-- CAR PNG (foreground) -->
    <img src="assets/common/carSet/car.png" class="absolute bottom-0 left-[55%] -translate-x-1/2 object-contain" />

  </div>

  <!-- DETAILS -->
  <div class="p-4">

    <div class="flex justify-between items-start">
      <h3 class="font-semibold text-gray-900">{{ car.name }}</h3>
      <p class="text-gray-800 text-lg font-semibold">{{ car.price }}</p>
    </div>

    <!-- Transmission -->
    <div class="flex justify-between  mt-1">

      <span class="flex items-center gap-2"><img src="assets/common/sarkit.svg" class="w-4 h-4" /> {{ car.name
        }}</span>
      <p class="text-gray-800 text-lg font-semibold">Price</p>
    </div>

    <!-- FEATURES BOX -->
    <div class="mt-4 border rounded-xl p-3 flex justify-between text-sm text-gray-700">
      <div class="flex flex-col items-center">
        <img src="assets/common/user.svg" class="w-5 h-5 opacity-70 mb-1" />
        <p>{{ car.owner }}</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="assets/common/fuel.svg" class="w-5 h-5 opacity-70 mb-1" />
        <p>{{ car.fuel }}</p>
      </div>

      <div class="flex flex-col items-center">
        <img src="assets/common/road.svg" class="w-5 h-5 opacity-70 mb-1" />
        <p>{{ car.km }} Kms</p>
      </div>
    </div>

    <!-- CALL BUTTON -->
    <button (click)="onCallBack()"  class="w-full mt-4 py-3 rounded-xl text-gray-700 hover:bg-gray-200 font-medium
         flex items-center justify-center gap-2 transition">
      Request A Call Back
      <img src="assets/common/downArrow.svg" class="-rotate-90 w-4 h-4" alt="">
    </button>


  </div>
</div>