<!-- header Section  -->
<section>
    <app-header></app-header>
</section>


<section id="home" class="homeSection">
    <app-hero-section></app-hero-section>
</section>

 <section id="howItWorks" class="w-full px-4 md:px-10 lg:px-36 mt-16">
    <app-how-works></app-how-works>
 </section>

<section id="about" class="w-full px-4 md:px-10 lg:px-36 mt-16">
    <app-about-us></app-about-us>
</section>

<section id="testimonials" class="mt-16">
    <app-testimonials></app-testimonials>
</section>

<section id="" class="w-full px-4 md:px-10 lg:px-36 mt-16">
    <app-faq></app-faq>
</section>

<section id="">
    <app-footer></app-footer>
</section>