<footer class="bg-[#0f0f0f] text-gray-300 pt-12 pb-6 relative overflow-hidden">

  <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 md:grid-cols-3 gap-10">

    <!-- LEFT LOGO -->
    <div>
      <img src="assets/footer/Logo.svg" alt="CarstockXchange Logo">
      <p class="text-sm text-gray-400 mt-2">
        Multibrand Preowned Cars Superstore
      </p>
    </div>

    <!-- NAV LINKS -->
    <div>
      <h3 class="text-lg font-semibold mb-4">Navigation Links</h3>

      <ul class="space-y-2 text-sm text-gray-400">
        <li><a (click)="scrollToSection('about')" class="hover:text-white">About Us</a></li>
        <li><a (click)="scrollToSection('howItWorks')" class="hover:text-white">How It Works</a></li>
        <li><a (click)="scrollToSection('testimonials')" class="hover:text-white">Carservix</a></li>
        <li><a (click)="scrollToSection('home')" class="hover:text-white">Become a Partner</a></li>
        <li><a (click)="scrollToSection('testimonials')" class="hover:text-white">Contact Us</a></li>
      </ul>
    </div>

    <!-- SOCIAL + COPYRIGHT -->
    <div class="space-y-4 flex flex-col items-start md:items-end">

      <!-- SOCIAL LINKS -->
      <div class="flex items-center gap-6 text-sm">
        <a class="flex items-center gap-1 hover:text-white">
          <img src="assets/footer/insta.svg" class="w-5"> INSTAGRAM
        </a>
        <a class="flex items-center gap-1 hover:text-white">
          <img src="assets/footer/yt.svg" class="w-5"> YOUTUBE
        </a>
        <a class="flex items-center gap-1 hover:text-white">
          <img src="assets/footer/fb.svg" class="w-5"> FACEBOOK
        </a>
      </div>

      <!-- COPYRIGHT -->
      <p class="text-xs text-gray-500 mt-4">
        © carstockxchange 2025. All rights reserved.
      </p>
    </div>

  </div>

<!-- BACKGROUND LARGE TEXT -->
<div class="w-full flex justify-center mt-12 px-6 pointer-events-none select-none">
  <h1 
    class="font-extrabold text-white/5 leading-none tracking-tight whitespace-nowrap
           text-[8vw] sm:text-[8vw] md:text-[8vw] lg:text-[7.5vw] xl:text-[8.5vw]">
    CARSTOCKXCHANGE
  </h1>
</div>



</footer>
