<!-- TITLE WRAPPER -->
<div class="relative flex items-center justify-center">

  <!-- TITLE -->
  <h2
    mat-dialog-title
    class="w-full text-center font-semibold text-lg sm:text-xl"
  >
    Experience the car before you decide.
  </h2>

  <!-- CLOSE BUTTON -->
  <button
    mat-dialog-close
    class="absolute right-5 top-[55%] -translate-y-1/2
           text-gray-400 hover:text-black transition text-xl"
    aria-label="Close dialog"
  >
    ✕
  </button>

</div>


<!-- SUBTITLE -->
<p class="text-sm text-gray-500 text-center px-3 sm:px-8 -mt-2">
  Just share your details below, our team will confirm everything for you.
  We'll get in touch with you within 24 hours.
</p>

<!-- CONTENT -->
<mat-dialog-content class="mt-6 space-y-5">

  <form [formGroup]="form" class="space-y-5">

    <!-- NAME -->
    <div>
      <label class="text-sm font-medium text-gray-600">Name</label>
      <input
        type="text"
        formControlName="name"
        placeholder="Enter Your Name"
        class="mt-1 w-full rounded-full border border-gray-300 px-4 py-3 text-sm
               focus:outline-none focus:ring-2 focus:ring-yellow-400 bg-gray-100"
      />
      <p *ngIf="form.get('name')?.touched && form.get('name')?.invalid"
         class="text-xs text-red-500 mt-1">
        Name is required
      </p>
    </div>

    <!-- MOBILE -->
    <div>
      <label class="text-sm font-medium text-gray-600">Mobile Number</label>

      <div
        class="mt-1 flex items-center rounded-full border border-gray-300 px-3 py-3
               focus-within:ring-2 focus-within:ring-yellow-400 bg-gray-100">

        <span class="text-gray-500 text-sm pr-2 border-r">+91</span>

        <input
          type="tel"
          formControlName="mobile"
          placeholder="Enter Mobile Number"
          class="ml-2 w-full text-sm outline-none bg-gray-100"
        />
      </div>

      <p *ngIf="form.get('mobile')?.touched && form.get('mobile')?.invalid"
         class="text-xs text-red-500 mt-1">
        Enter valid 10 digit mobile number
      </p>
    </div>

    <!-- SELECT CAR -->
    <div>
      <label class="text-sm font-medium text-gray-600">
        Select Car brand and Model
      </label>

      <select
        formControlName="car"
        class="mt-1 w-full rounded-full border border-gray-300t-300 px-4 py-3 text-sm
               bg-gray-100 text-gray-600 focus:outline-none
               focus:ring-2 focus:ring-yellow-400 ">
        <option value="" disabled>Select</option>
        <option value="maruti-swift">Maruti Swift</option>
        <option value="hyundai-i20">Hyundai i20</option>
        <option value="honda-city">Honda City</option>
      </select>

      <p *ngIf="form.get('car')?.touched && form.get('car')?.invalid"
         class="text-xs text-red-500 mt-1">
        Please select a car
      </p>
    </div>

    <!-- WHATSAPP -->
    <div class="flex items-center gap-2 text-sm text-gray-600">
      <input
        type="checkbox"
        formControlName="whatsapp"
        class="w-4 h-4 accent-yellow-400"
      />
      <span>Receive Updates on Whatsapp</span>
    </div>

  </form>

  <!-- INFO -->
  <div class="flex gap-2 bg-gray-100 rounded-lg p-3 text-xs text-gray-600 mt-4">
    <span>🔒</span>
    <p>
      Your details are safe with us and will only be used to contact you
      regarding your request.
    </p>
  </div>

</mat-dialog-content>

<!-- ACTION -->
<mat-dialog-actions class="mt-4 px-0">
  <button
    (click)="submit()"
    [disabled]="form.invalid"
    class="w-full rounded-full bg-gradient-to-r from-yellow-400 to-yellow-500
           hover:from-yellow-500 hover:to-yellow-600 transition
           py-3 font-semibold text-black text-sm sm:text-base
           disabled:opacity-50 disabled:cursor-not-allowed">
    Request a Call Back
  </button>
</mat-dialog-actions>
