/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.input-box {
  @apply w-full border border-gray-200 rounded-full py-3 px-5 focus:ring-2 focus:ring-yellow-400 outline-none;
}

/* INPUT STYLE */
.input-box {
  @apply w-full border border-gray-300 rounded-full py-3 px-5 focus:ring-2 focus:ring-yellow-400 outline-none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
